* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.radio {
    display: flex;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    gap: 10px;
}

.navbar a {
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.navbar input label {
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar span i {
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.navbar span:hover i {
    transform: scale(1.2);
}

.title {
    display: flex;
    justify-content: center;
}

.background {
    width: 100%;
    height: 150vh;
    background: url("../assets/different-tropical-fruits-wooden-surface.jpg") no-repeat;
    background-size: cover;
    background-position: center;;
}

.content {
    /*width: 58%;*/
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
}

.logo {
    font-size: 30px;
    color: #e4e4e4;
}

.text-sci {
    max-width: 400px;
}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}


.log-box img {
    height: 350px;
    width: 250px;
    border-radius: 10px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4 {
    max-width: 33.33333%;
    padding: 20px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-color: #0d4e72;
    padding: 20px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.search-title {
    color: white;
}

.search-wrapper {
    padding-bottom: 30px;
}

.search-title {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.searchInput {
    padding: 9px 0;
    margin-left: 40%;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #1d2951;
}

.btn-wrapper {
    background: #007cb0;
    border-radius: 27px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    margin: 20px 0;
}

.btn-wrapper:hover {
    background: #1d2951;
    transition: 0.3s;
}


.radio {
    display: flex;
    margin-left: 150px;
    gap: 10px;
    color: white;
}

.result {
    background-color: #c064c0;
    padding: 3em 2.5em;
    border-radius: 30px;
}